@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    background-color:#F5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{font-size: 2.5rem;}
h2{font-size: 2.7rem,;}
h3{font-size: 1.5rem;}
p{font-size: 1.25rem;}

footer{
    background-color: #000A23;
}



#hero{
    max-width: 1400px;
    margin: auto;
}

header{
    width: 100%;
    margin: 0 auto;

    
   
   
   
   
}
.menu{

    width: 100%;

    height: 0;

    overflow: hidden;
    transition: 0.6s;
    

    

}

.menu ul{

    flex-direction: column;

    align-items: center;

    justify-content: center;

    padding: 0.5rem 0;
   



}

nav label{

    display: flex;
    justify-content: flex-start;

    color: white;

    cursor: pointer;

}

nav #toggle:checked ~ .menu{

    height: 100%;

}

nav #toggle{
    display: none;
}



header .logo{
    margin: 0;
    padding:25px;
    color: aliceblue;
    font-size: 1.35em;
}

nav{
    width: 100%;
    display: flex;

    /*flex-wrap: wrap;

    justify-content: center;

    align-items: center;*/
    padding: 1rem;
    
   
}

.menu ul{
    list-style: none;
    display: flex;
  
    gap: 1rem;
   
   
}

.menu li a{
    font-size: 1.3rem;
    text-decoration: none;
    color:aliceblue;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

#hero{
   background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url("../assets/img/foto1.jpg");
    width: 100%;
    height: 90vh;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

#hero h1{
     font-size: 2.5rem;
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform:uppercase;
    text-align: center;
    margin-top: 7rem;
    line-height: 100px;
   
   
}





#fechas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    background-color: white;
    color: white;
   
     

}

#fechas .container{
 text-align: center;
}

#fechas h2{
    display: flex;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    margin-top: 0;
  
   text-align: center;
   align-items: center;
   justify-content: center;
    padding: 10rem 0 10rem 0px;
    
}

#fechas .carta{
    background-position: center;
    background-size: cover;
    padding: 5rem;
   margin: 0.2rem;
    border-radius:0.4rem;

}  

.carta:first-child{
    background-image: url("../assets/img/1978.jpg");
    width: 20rem;
    height: 20rem;

}

.carta:nth-child(2){
    background-image: url("../assets/img/1986.jpg");
    width: 20rem;
    height: 20rem;

}

.carta:nth-child(3){
    background-image: url("../assets/img/2022.jpg");
    width: 20rem;
    height: 20rem;
}

#somos{
    background-color: white;

}

#somos .container{
    text-align: center;
    padding: 50px;
}

#somos h3{
    font-family: 'Anton', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
}

footer{
    margin: 0;
    width: 100%;
    padding: 2rem;
    margin-top: 2rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    background-color: #000A23;
    color: #F5f5f5;
}

footer div{
    text-align: center;
}

.col-2{
    flex-grow: 2;
}

footer div h3{
    font-weight: 300;
    margin-bottom: 1.5rem;
    letter-spacing: 1px;
}

.col-1 a{
    display: block;
   margin: 0.5rem;
    color: #F5f5f5;
    text-decoration: none;
    color: #F5f5f5;
}

form input{
    width: 15rem;
    height: 2rem;
    border-radius: 0.2rem;
    text-align: center;
   margin-bottom: 1rem;
   outline: none;
   border: none;
}

form button{
    background: transparent ;
    border: 1px solid;
    color: #fff;
    border-radius: 2rem;
    padding: 0.4rem 2rem;
    font-size: 1rem;
}

.iconos{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.iconos i{
    font-size: 1.7rem;
    margin: 0.5rem;

}




@media(min-width: 768px){

     
    .nav{
        width: 100%;
        

        padding: 1rem;
       
    }

    
    nav .menu{
     overflow:visible;

    }
    .menu ul{

        flex-direction: row;
    
        align-items: center;
    
        justify-content: center;
    
        padding: 0.5rem 0;
    
    }
    .nav ul{
        list-style: none;
        display: flex;
      
        gap: 1.5rem;
     }

    nav #toggle, nav label{

        display: none;
        
        }

        #fechas{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0.5rem;
          
        }
    footer{
        flex-direction: row;
        gap: 0;
    }

  .iconos{
    display: block;
  }


        

}

/*HISTORIA*/

#hero1{
    max-width: 1400px;
    margin: auto;
}




.menu1{

    width: 100%;

    height: 0;

    overflow: hidden;

    

}

.menu1 ul{

    flex-direction: column;

    align-items: center;

    justify-content: center;

    padding: 0.5rem 0;



}

#hero1 nav label{

    display: flex;
    justify-content: flex-start;

    color: white;

    cursor: pointer;

}

#hero1 nav #toggle:checked ~ .menu1{

    height: 100%;

}

#hero1 nav #toggle{
    display: none;
}



header .logo{
    margin: 0;
    padding:25px;
    color: aliceblue;
    font-size: 1.35em;
}



.menu1 ul{
    list-style: none;
    display: flex;
  
    gap: 1rem;
   
   
}

.menu1 li a{
    font-size: 1.3rem;
    text-decoration: none;
    color:aliceblue;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

#hero1{
   background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url("../assets/img/headerhistoria.jpg");
    width: 100%;
    height: 90vh;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

#hero1 h1{
     font-size: 2.5rem;
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform:uppercase;
    text-align: center;
    margin-top: 7rem;
    line-height: 100px;
   
   
}

.containerD h2{
    color: black;
    font-family: 'Roboto',  sans-serif;
    font-size: 2em;
    text-align: center;
    text-transform:initial;
    font-weight: bold;

}

.containerD p{
    padding: 20px 100px 20px 50px;
    color: black;
    font-family: 'Roboto', serif;
    text-align: left;

}
.containerD h2{
    margin: 30px;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
    text-align: left;
    text-transform: uppercase;
}

.img-container{
    padding: 10px;
    margin: 10px 0px 10px 300px;
    width: 400px;
    align-items: center;
}

.img-container img{
    width: 400px;
    align-items: center center;
   
}

@media(min-width: 768px){

   #hero1 nav .menu1{
     overflow:visible;

    }
    .menu1 ul{

        flex-direction: row;
    
        align-items: center;
    
        justify-content: center;
        margin: 0;
    
        padding: 0.5rem 0;
    
    }
   

    #hero1 nav #toggle,#hero1 nav label{

        display: none;
        
        }
        
}

/* SOBRE ARGENTINA*/

#hero2{
    max-width: 1400px;
    margin: auto;
}

.menu2{

    width: 100%;

    height: 0;

    overflow: hidden;

    

}

.menu2 ul{

    flex-direction: column;

    align-items: center;

    justify-content: center;

    padding: 0.5rem 0;



}



#hero2 nav #toggle:checked ~ .menu2{

    height: 100%;

}

#hero2 nav #toggle{
    display: none;


}

header .logo{
    margin: 0;
    padding:25px;
    color: aliceblue;
    font-size: 1.35em;
}



.menu2 ul{
    list-style: none;
    display: flex;
    
  
    gap: 1rem;
   
   
}

.menu2 li a{
    font-size: 1.3rem;
    text-decoration: none;
    color:aliceblue;
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
}

#hero2{
   background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
        ,url("../assets/img/headersobre.jpg");
    width: 100%;
    height: 90vh;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}

#hero2 h1{
     font-size: 2.5rem;
    color: white;
    font-family: 'Anton', sans-serif;
    text-transform:uppercase;
    text-align: center;
    margin-top: 7rem;
    line-height: 100px;
   
   
}




#titulos img{
    width: 360px;
    height: 250px;
   padding: 20px;
}

#posters{
    display: flex;
    flex-direction: column;
    gap: 40px;  
}

.cartaP{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  
    
}

.titulo{
    font-size: 2rem;
    margin: 0;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
}

img{
    width: 197px;
    height: 310px;
}

@media(min-width: 768px){

    #hero1 header{
        width: 100%;
       display: flex;
       justify-content: center;

     }
  
    #hero2 .nav{
        width: 100%;
        
       
    }

    
   #hero2 nav .menu2{
     overflow:visible;

    }

    .menu2 ul{

        flex-direction: row;
    
        align-items: center;
    
        justify-content: center;
        margin: 0;
    
        padding: 0.5rem 0;
    
    }
     #hero2 .nav ul{
        list-style: none;
        display: flex;
      
        gap: 1.5rem;
     }

    #hero2 nav #toggle,#hero2 nav label{

        display: none;
        
        }
        
}

  
/* EXPERIENCIAS*/
#hero3{
   
    gap: 1rem;
    width: 100%;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
    ,url("../assets/img/headerexpe.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    }

    .tituloExp{
        display: flex;
        flex-direction: column;
       padding-top: 18rem;
    
    }

    #hero3 h1{
        padding-left: 1rem;
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 2rem;
        text-transform:uppercase;
        text-align:left;
       
       

    }

    #hero3 h2{
        color: white;
        font-family: 'Anton', sans-serif;
        text-align: start;
        padding-left: 1rem;
        padding-bottom: 2rem;
        
    }

    .menu3{

        width: 100%;
    
        height: 0;
    
        overflow: hidden;
        position: fixed;
        top: 2rem;
        left: -27%;
        z-index: 999;
    
        
    
    }
    
    .menu3 ul{
        display: flex;
    
        flex-direction: column;
    
        align-items: center;
    
        justify-content: center;
    
        padding: 0.5rem 0;
    
    
    
    }
    
    
    
    nav #toggle:checked ~ .menu3{
    
        height: 100%;
    
    }
    
    nav #toggle{
        display: none;
    }
    
    
    
    header .logo{
        margin: 0;
        padding:25px;
        color: aliceblue;
        font-size: 1.35em;
    }
    
    
    
    .menu3 ul{
        list-style: none;
        display: flex;
      
        gap: 1rem;
       
       
    }
    
    .menu3 li a{
        font-size: 1.3rem;
        text-decoration: none;
        color:aliceblue;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
    }

    .slide{
        padding: 20px;
    }

    .carousel-inner img{
        width: 270px;
        height: 200px;
    }

    @media(min-width:768px){

        .menu3{
            position: static;
          
            overflow: visible;
        }

        .menu3 ul{
          
            flex-direction: row;
        
            align-items: center;
        
            justify-content: center;
            margin: 0;
            
        
            padding: 0.5rem 0;
        
        }

        .slide{
            margin: 0;
            width: 60%;
            height: 350px;
        
        }

        .carousel-inner img{
            width: 600px;
            height: 320px;
        }
    }

/* EVENTOS */
#hero4{
  
    gap: 1rem;
    width: 100%;
    height: 80vh;
    color: white;
    background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    )
    ,url("../assets/img/agendaAFA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;   
}
   
    

   

    #hero4 h1{
        padding-left: 1rem;
        color: white;
        font-family: 'Anton', sans-serif;
        font-size: 2rem;
        text-transform:uppercase;
        text-align: center;
        margin-top: 7rem;
        line-height: 100px;
        
       
       

    }

  .menu4{

        width: 100%;
    
        height: 0;
    
        overflow: hidden;
       
      
    
        
    
    }
    
    .menu4 ul{
        display: flex;
    
        flex-direction: column;
    
        align-items: center;
    
        justify-content: center;
    
        padding: 0.5rem 0;
    
    
    
    }
    
    
    
    nav #toggle:checked ~ .menu4{
    
        height: 100%;
    
    }
    
    nav #toggle{
        display: none;
    }
    
    
    
    header .logo{
        margin: 0;
        padding:25px;
        color: aliceblue;
        font-size: 1.35em;
    }
    
    
    
    .menu4 ul{
        list-style: none;
        display: flex;
      
        gap: 1rem;
       
       
    }
    
    .menu4 li a{
        font-size: 1.3rem;
        text-decoration: none;
        color:aliceblue;
        font-family: 'Dosis', sans-serif;
        text-transform: uppercase;
    }

    #calendario{
        background-color: white;
        width: 100%;
        height:300px;
    }
    
    #calendario h2{
        margin: 2px;
        padding-left: 20px;
        padding-top: 40px;
        font-family: 'Anton', sans-serif;
        text-transform:uppercase;
    }
    
    #calendario p{
        margin: 10px;
        padding-left: 20px;
        padding-top: 20px;
        font-family: 'Roboto', serif;
    
    }
    
    #grid{
        display: flex;
        flex-direction: column;
        width: 100%;
        
      
    }
     
    
    
    #grid1{
    grid-area: mes;
    background-color: #000A23;
    padding: 20px;
    
    
        
    }
    
    #grid1 h3{
        color: white;
        font-family: 'Oswald', sans-serif;
        text-align: center;
        text-transform: uppercase;
    }
    
    .mes{
        grid-column: 5/ 6;
    }
    
    #grid2{
        grid-area: fecha1;
        background-color:#000A23;
        padding: 25px;
       
       
    }
    
    #grid2 h4{
        color: white;
        text-align: center;
       
        font-family: 'Anton', sans-serif;
        font-size: 24px ;
        text-transform: uppercase;
        
        
        
    }
    
    
    #grid3
    {
        grid-area:logos ;
        background-color: #000A23;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px;
        
        
      
    }
    
    
    
    
    #grid3 .logos-uru img{
        width: 30px;
        height: 45px;
    }
    
    .logos-uru{
     display: flex;
     flex-direction: row;
     gap: 10px;
     align-items: center;
     justify-content: center;
        
       
        
    }
    
    .logos-uru p{
        color: white;
        font-family:'Oswald', sans-serif;
        text-transform: uppercase;
    }
    
    #grid3 .logos-arg img{
        width: 30px;
        height: 40px;
    }
    
    
    .logos-arg{
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
    
    .logos-arg p{
        color: white;
        font-family:'Oswald', sans-serif;
        text-transform: uppercase;
    }
    
    #gridSection2{
        display: grid;
        width: 100%;
        padding-top: 50px;
        
    }
    
    #gridlogos{
        
        background-color: #02152B;
    }
    
    .logo-ar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .logo-ur{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    
    #gridlogos .logo-ur img{
       
        width: 63px;
        height: 140px;
    
    }
    
    #gridlogos .logo-ar img{
        width: 90px;
        height: 115px;
    
    }
    
    
    #fecha2{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: #02152B;
        align-items: center;
        justify-content: center;
        gap: 70px;
    }
    
    #fecha2 p{
        font-size: 20px;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }
    
    .vector{
        width: 35px;
        height: 45px;
        
    }
    
    .vector img{
        width: 35px;
        height: 45px;
     
    }
    
    #griddSection2{
        display: none;
    }

    @media(min-width: 768px) {

        .menu4{
           
          
            overflow: visible;
        }

        .menu4 ul{
          
            flex-direction: row;
        
            align-items: center;
        
            justify-content: center;
            margin: 0;
            
        
            padding: 0.5rem 0;
        
        }

        
    #griddSection2{
        display: none;
    }
    header{
       
        width: 100%;
        height: 70px;
    }

header .navbar{
    flex-direction: row;
   justify-content: center;
   align-items: center;
  }


  header nav{
    flex-direction: row;
    padding: 20px;
  }

 .navbar li a{
    font-size: 1.5em;
    
 }

 #hero4 h1{
    font-size: 3.5em;
 }

 #grid{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#grid1{
    width: 33%;
}

#grid2{
    width: 34%;
}

#grid3{
    width: 33%;
}

#fecha2 p{
    font-size: 35px;
    padding: 20px;
}

#gridlogos .logo-ur img{
   
    width: 148px;
    height: 257px;

}

#gridlogos .logo-ar img{
    width: 180px;
    height: 220px;

}

#gridSection2{
    width: 100%;
}



}

@media(min-width: 1000px){

    #gridSection2{
        display: none;
    }

    #griddSection2{
        display: grid;
        padding-top: 100px;
        width: 100%;
     grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 400px;
    }
    
    #vvector{
        display: grid;
        align-items: center;
        background-color: #02152B;
        grid-template-columns: repeat(3,1fr);
    }

    .vector{
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    #griddlogos{
        display: grid;
        background-color: #02152B;
    }
    
    #griddlogos .logo-ur img{
        width: 190px;
        height: 384px;
    
    }
    
    #griddlogos .logo-ar img{
        width: 230px;
        height: 310px;
    
    }
    
    
    #fechaa2{
        padding: 20px;
        gap: 100px;
        background-color: #02152B;
        display: flex;
        flex-direction: column;
    }

    #fechaa2 p{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: white;
    text-align: center;
    }

    .marzo{
        font-size: 1em;
    }
    
    .hora{
        font-size: 2.5em;
    }
    
    




}


    
    









