
@media(min-width: 768px){
  h1{
    font-size: 4rem;
  }
h2{
  font-size: 3rem;
}
 


p{
  font-size: 1.5rem;
}

  nav{
    width: 100%;
        

    padding: 1rem;
   .menu{
    overflow: visible;
    ul{
        flex-direction: row;
    
        align-items: center;
    
        justify-content: center;
    
        padding: 0.5rem 0;
        flex-direction: row;
    
        align-items: center;
    
        justify-content: center;
    
        padding: 0.5rem 0;
    }
    }
    }
     label, .material-icons{
        display: none;
    }
 #fechas{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0.5rem;
  
}

footer{
flex-direction: row;
gap: 0;


.iconos{
display: block;
}
  }

   

   /*sobre argentina*/

   #titulos{ 
    img{
    width: 680px;
    height: 440px;
  
}
 }
  

  #posters{ 
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 30px;
    .cartaP{
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
     }
     .p{
      display: grid;
     
     }
     

 }


 /*EXPERIENCIA*/
 .tituloExp{
  padding-top: 35rem;
 
 }
 .menu3{
  position: static;

  overflow: visible;
  ul{
    flex-direction: row;
        
    align-items: center;

    justify-content: center;
    margin: 0;
    

    padding: 0.5rem 0;
  }
}

.cardd{
  h3{
    font-size: 2rem;
  }
  p{
    margin: 5px;
 
  }
}



.slide{
  margin: 0;
  width: 70%;
  height: 350px;

.carousel-inner img{
  width: 600px;
  height: 320px;
}
 }

 #expe{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
  .twitter-tweet{
   max-width: 400px;

  }
 }
 
 .video{

 

 video{
  width: 600px;
  height: 480px;
  padding-left: 1rem;
 
  object-fit: cover;
 }
  }

 





 /*EVENTOS*/
 #griddSection2{
  display: none;
}

#grid{
  display: flex;
  flex-direction: row;
  width: 100%;


#grid1{
  width: 33%;
}

#grid2{
  width: 34%;
}

#grid3{
  width: 33%;
}
  
   }

#fecha2 p{
    font-size: 35px;
    padding: 20px;
}

#gridSection2{
  width: 100%;
  .logo-ur img{
   
    width: 148px;
    height: 257px;

}
.logo-ar img{
  width: 180px;
  height: 220px;

}

}
    }
 

   