.containerD {
    text-align: center;
    h2{
       color: black;
       font-size: 2rem;
       
        font-weight: bold;
        margin: 30px;
        margin-bottom: 20px;
        font-family: 'Anton', sans-serif;
        text-align: left;
        text-transform: uppercase;
        
        }
        p{
            padding: 20px 100px 20px 50px;
            color: black;
            
            text-align: left;
        
        }
        
    }

    .img-container{
        display: flex;
       justify-content: center;
        width: 100%;
        img{
            width: 30rem;
        }
    }



